<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62476021246-uanbebbo9l95gqh92nuscv6ol61j5pps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62476021246-uanbebbo9l95gqh92nuscv6ol61j5pps</string>
	<key>API_KEY</key>
	<string>AIzaSyD2jWMBaAe_YVl-lASKaJgQWPXJYXK9yA0</string>
	<key>GCM_SENDER_ID</key>
	<string>62476021246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nangmangorae.growlibb</string>
	<key>PROJECT_ID</key>
	<string>growlibb</string>
	<key>STORAGE_BUCKET</key>
	<string>growlibb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62476021246:ios:af475f8b5d4e414f6ba4af</string>
</dict>
</plist>